<div id="wrapper">
  <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background-color: black;">
    <div class="container-fluid d-flex flex-column p-0" style="    position: sticky;top: 0;" >
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"><span>Admin Panel</span></div>
      </a>
      <hr class="sidebar-divider my-0" />
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">
            <i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/users">
            <i class="fa-solid fa-table-list"></i>
            <span>Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/createMovie">
            <i class="fas fa-video"></i>
            <span>Create Movie</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/createSerie">
            <i class="fa-solid fa-clapperboard"></i>
            <span>Create Serie</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/movies">
            <i class="fas fa-film"></i>
            <span>List of Movies</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/series">
            <i class="fas fa-tv"></i>
            <span>List of Series</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  href="/login" (click)="logout()" ><i class="far fa-user-circle"></i><span>Logout</span></a>
        </li>
      </ul>
      <div class="text-center d-none d-md-inline">
        <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
      </div>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <router-outlet></router-outlet>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright">
          <span>Copyright © Brand 2024</span>
        </div>
      </div>
    </footer>
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
